<header class="header">
  <div class="header-inner">
      <div class="container-fluid">
          <nav class="navbar navbar-expand-lg">
              <div class="container-fluid">
                <a class="navbar-brand" href="#">restaurantFinder.</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Cities
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">New York</a></li>
                        <li><a class="dropdown-item" href="#">Los Angeles</a></li>
                        <li><a class="dropdown-item" href="#">London</a></li>
                        <li><a class="dropdown-item" href="#">Paris</a></li>
                        <li><a class="dropdown-item" href="#">Sydney</a></li>
                        <li><a class="dropdown-item" href="#">Dubai</a></li>
                      </ul>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Help</a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
      </div>
  </div>
</header>
