<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs')%>
  <title>Document</title>
</head>
<body>
  <%- include('./partials/nav.ejs')%>
  <section class="content-banner">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12">
                <div class="banner-con text-center">
                    <p class="first-title">The best of the best.</p>
                    <p class="banner-des">Browse a list of handpicked restaurants from around the world.</p>

                </div>
            </div>

        </div>
    </div>
  </section>
  <section class="body">
    <div class="container">
      <div class="row-fluid">
        <div class="col-3">
          <a href="#">
            <img src="https://media.istockphoto.com/id/533998713/photo/empire-state-building-at-night.jpg?s=612x612&w=0&k=20&c=2fZCcZq3186F9R2WHZ2hEBh4dVsOX7pqgcVRXXn195I=">
          </a>
        </div>
        <div class="col-3">
          <a href="#">
            <img src="https://media.istockphoto.com/id/533998713/photo/empire-state-building-at-night.jpg?s=612x612&w=0&k=20&c=2fZCcZq3186F9R2WHZ2hEBh4dVsOX7pqgcVRXXn195I=">
          </a>
        </div>
        <div class="col-3">
          <a href="#">
            <img src="https://media.istockphoto.com/id/533998713/photo/empire-state-building-at-night.jpg?s=612x612&w=0&k=20&c=2fZCcZq3186F9R2WHZ2hEBh4dVsOX7pqgcVRXXn195I=">
          </a>
        </div>
        <div class="col-3">
          <a href="#">
            <img src="https://media.istockphoto.com/id/533998713/photo/empire-state-building-at-night.jpg?s=612x612&w=0&k=20&c=2fZCcZq3186F9R2WHZ2hEBh4dVsOX7pqgcVRXXn195I=">
          </a>
        </div>
        <div class="col-3">
          <a href="#">
            <img src="https://media.istockphoto.com/id/533998713/photo/empire-state-building-at-night.jpg?s=612x612&w=0&k=20&c=2fZCcZq3186F9R2WHZ2hEBh4dVsOX7pqgcVRXXn195I=">
          </a>
        </div>
        <div class="col-3">
          <a href="#">
            <img src="https://media.istockphoto.com/id/533998713/photo/empire-state-building-at-night.jpg?s=612x612&w=0&k=20&c=2fZCcZq3186F9R2WHZ2hEBh4dVsOX7pqgcVRXXn195I=">
          </a>
        </div>
      </div>
    </div>
  </section>
  <%- include('./partials/scripts.ejs')%>
</body>
</html>