<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <%- include('./partials/nav.ejs')%>
    <div class="container text-center mb-5">
      <h1>Choose the city you want to visit!</h1>
      <h5 class="mx-5">
        And pick one of the many places where you will be served amazing food
        made by the best chef's all around the world
      </h5>
    </div>
    <div class="container">
      <div class="row mb-3">
        <div class="card col-4">
          <a href="/restaurantfinder/paris/">
            <img
              src="https://images.unsplash.com/photo-1502602898657-3e91760cbb34?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1473&q=80"
              style="height: 15rem"
            />
          </a>
        </div>
        <div class="card col-4">
          <a href="/restaurantfinder/ny/">
            <img
              src="https://images.unsplash.com/photo-1522083165195-3424ed129620?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1597&q=80"
              style="height: 15rem"
            />
          </a>
        </div>
        <div class="card col-4">
          <a href="/restaurantfinder/london/">
            <img
              src="https://images.unsplash.com/photo-1486299267070-83823f5448dd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80"
              style="height: 15rem"
            />
          </a>
        </div>
      </div>
      <div class="row">
        <div class="card col-4">
          <a href="/restaurantfinder/la/">
            <img
              src="https://images.unsplash.com/photo-1580655653885-65763b2597d0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
              style="height: 15rem"
            />
          </a>
        </div>
        <div class="card col-4">
          <a href="/restaurantfinder/dubai/">
            <img
              src="https://images.unsplash.com/photo-1512453979798-5ea266f8880c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
              style="height: 15rem"
            />
          </a>
        </div>
        <div class="card col-4">
          <a href="/restaurantfinder/sydney/">
            <img
              src="https://images.unsplash.com/photo-1584772121849-56c717d6c542?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1447&q=80"
              style="height: 15rem"
            />
          </a>
        </div>
      </div>
    </div>
    <div class="footer"></div>

    <%- include('./partials/scripts.ejs')%>
  </body>
</html>
