<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <% for( let index = 0; index < restaurant.length; index++ ) { %>
    <p><%= restaurant[index].name %></p>
    <% } %>
  </body>
</html>
