@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gloock&display=swap");

* {
  scroll-behavior: smooth;
  font-family: "Nunito Sans", sans-serif;
}

body {
  background-color: #c7d4ca;
  color: #4a574c;
}

img {
  height: 100%;
  width: 100%;
  display: inline-block;
}

.content-banner {
  color: #ffffff;
  background-color: #4a574c;
  min-height: 35vh;
  /* height: 100%; */
  position: relative;
  background-position: center center;
  background-size: cover;
  padding-top: 125px;
}

.content-banner:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #4a574c;
  opacity: 0.7;
  top: 0;
  left: 0;
  z-index: 1;
}

.content-banner .first-title {
  font-size: 44px;
  font-weight: 400;
  line-height: 1.2;
  position: relative;
  z-index: 2;
  margin: 12px 0px 12px;
}

.content-banner .secondary-title {
  font-size: 65px;
  font-weight: 400;
  line-height: 1.2;
  position: relative;
  z-index: 2;
  margin: 12px 0px 12px;
}

.content-banner .banner-des {
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0;
  position: relative;
  z-index: 2;
  font-weight: 400;
  margin-top: 0;
}

.content-banner .secondary-des {
  font-size: 1.3rem;
  line-height: 150%;
  letter-spacing: 0;
  position: relative;
  z-index: 2;
  font-weight: 400;
  margin-top: 0;
}

header {
  position: relative;
  width: 100%;
}

.nav-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: #4a574c;
}

.navbar-toggler {
  filter: invert(1);
}

.navbar-brand {
  color: #ffffff;
  font-family: "Gloock", serif;
}

.nav-item .nav-link {
  display: block;
  line-height: 36px;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 500;
  color: #ffffff;
  transition: 0.3s;
  font-weight: 300;
}

.nav-item .nav-link:hover,
.dropdown-item:hover {
  color: orange;
}

.navbar-scroll {
  background-color: #c7d4ca;
  position: fixed;
  top: 0;
  z-index: 99;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  transition-duration: 0.3s;
}

.navbar-scroll .nav-item .nav-link {
  color: black;
}

.navbar-scroll .nav-item .nav-link:hover,
.dropdown-item:hover {
  color: orange;
}

.navbar-scroll .navbar-brand {
  color: black;
  font-weight: 500;
}

.main {
  margin: 7rem auto;
}

#form-bodies {
  padding-top: 75px;
  padding-bottom: 75px;
}

.card {
  background-color: #c7d4ca;
  border: none;
  position: relative;
  transition: all 1s;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 60%), 0 6px 20px 0 rgb(0 0 0 / 40%);
  text-align: center;
}

.card_paris {
  background-image: url("https://images.unsplash.com/photo-1502602898657-3e91760cbb34?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1473&q=80");
  background-size: cover;
}
.restaurant {
  position: relative;
  height: 15rem;
  border-radius: 3px;
  transition: all 1s;
  padding: 0;
}
.restaurant:hover {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 60%), 0 6px 20px 0 rgb(0 0 0 / 40%);
  text-align: center;
}

.card_ny {
  background-image: url("https://images.unsplash.com/photo-1522083165195-3424ed129620?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1597&q=80");
  background-size: cover;
}

.card_london {
  background-image: url("https://images.unsplash.com/photo-1486299267070-83823f5448dd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80");
  background-size: cover;
}

.card_la {
  background-image: url("https://images.unsplash.com/photo-1580655653885-65763b2597d0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-size: cover;
}
.card_sydney {
  background-image: url("https://images.unsplash.com/photo-1584772121849-56c717d6c542?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1447&q=80");
  background-size: cover;
}

.card_dubai {
  background-image: url("https://images.unsplash.com/photo-1512453979798-5ea266f8880c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-size: cover;
}

.card_title {
  color: white;
  height: 100px;
  width: 100px;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-group {
  display: flex;
  gap: 1rem;
  justify-content: end;
  margin: 2rem 0;
}

.action-group > * {
  width: 5rem;
}

footer {
  background: #4a574c;
}
footer .logo {
  font-family: "Gloock", serif;
}
footer h5 {
  color: #ffffff;
  text-align: left;
}
footer p {
  color: #ffffff;
  text-align: left;
}
footer p a {
  text-decoration: none;
  color: #ffffff;
}
footer p a:hover {
  color: orange;
}
footer p i,
footer hr,
strong {
  color: orange;
}
