@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400&display=swap");

* {
  scroll-behavior: smooth;
  font-family: "Nunito Sans", sans-serif;
}

.body {
  background-color: #c7d4ca;
  color: #4a574c;
}

img {
    max-height: 200px;
    display: inline-block;
    width: 100%;
}

.card {
    background-color: #c7d4ca;
    border: none;
  }

.content-banner {
    color: #ffffff;
    background-color: #4A574C;
    min-height: 35vh;
    height: 100%;
    position: relative;
    background-position: center center;
    background-size: cover;
    padding-top: 125px;
}

.content-banner:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #4A574C;
  opacity: 0.7;
  top: 0;
  left: 0;
  z-index: 1;
}

.content-banner .first-title {
    font-size: 44px;
    font-weight: 400;
    line-height: 1.2;
    position: relative;
    z-index: 2;
    margin: 12px 0px 12px;
}

.content-banner .banner-des {
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0;
  position: relative;
  z-index: 2;
  font-weight: 400;
  margin-top: 0;
}

.header {
  position: relative;
  width: 100%;
}

.header-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: transparent;
}

.navbar-brand {
  color: #ffffff;
}

.nav-item .nav-link {
  display: block;
  line-height: 36px;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 500;
  color: #ffffff;
  transition: 0.3s;
  font-weight: 300;
}

.nav-item .nav-link:hover,
.dropdown-item:hover {
  color: orange;
}

.navbar-scroll {
  background-color: #c7d4ca;
  padding: 0;
  position: fixed;
  top: 0;
  z-index: 99;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  transition-duration: 0.3s;
}

.navbar-scroll .nav-item .nav-link {
  color: black;
}

.navbar-scroll .nav-item .nav-link:hover,
.dropdown-item:hover {
    color: orange;
}

.navbar-scroll .navbar-brand {
  color: black;
  font-weight: 500;
}

.body .container {
    padding-top: 75px;
    padding-bottom: 75px;
}

footer {
    background: #4A574C;
}
footer h5 {
    color: #ffffff;
    text-align: left;
}
footer p {
    color: #ffffff;
    text-align: left;
}
footer p a {
    text-decoration: none;
    color: #ffffff;
}
footer p a:hover {
    color: orange;
}
footer p i, footer hr, strong {
    color: orange;
}