* {
    scroll-behavior: smooth;
}

.body {
    min-height: 200vh;
}

.content-banner {
    color: #ffffff;
    background-color: seagreen;
    min-height: 400px;
    height: 100%;
    position: relative;
    background-position: center center;
    background-size: cover;
    padding-top: 125px;
}

.content-banner:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: green;
    opacity: 0.7;
    top: 0;
    left: 0;
    z-index: 1;
}

.content-banner .first-title {
    font-size: 44px;
    font-weight: 400;
    line-height: 1.2;
    position: relative;
    z-index: 2;
    margin: 0px 0px 12px;
}

.content-banner .banner-des {
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0;
    position: relative;
    z-index: 2;
    font-weight: 400;
    margin-top: 0;
}

.header {
    position: relative;
    width: 100%;
}

.header-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: transparent;
}

.navbar-brand {
    color: #ffffff;
}

.nav-item .nav-link {
    display: block;
    line-height: 36px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    transition: 0.3s;
}

.nav-item .nav-link:hover, .dropdown-item:hover {
    color: orange;
}

.navbar-scroll {
    background-color: #ffffff;
    padding: 0;
    position: fixed;
    top: 0;
    z-index: 99;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.4);
    transition-duration: 0.3s;
}

.navbar-scroll .nav-item .nav-link {
    color: black;
}

.navbar-scroll .navbar-brand {
    color: black;
    font-weight: 500;
}

